/* App.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

footer {
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 60px; /* Offset for the fixed header */
    margin-bottom: 60px; /* Offset for the fixed footer */
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-align: center;
}

button.card {
    width: 200px;
}
